<%# to render this sub-layout, you must specify title as one of the local variables to pass %>

<div class="ui-engineworks-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
  <span class="ui-jqgrid-title"><%= :title %></span>
</div>
<div class="ui-widget-content ui-corner-bottom ui-helper-clearfix">
  <% yield %>
</div>

